// ---------------------------------------------------------
// HEADER
// ---------------------------------------------------------
.t3-header {
  .header-left {
    color: @header-font-color !important;
    font-size: @header-font-size !important;
    line-height: @header-line-height;
    font-family: @header-font-family;
    span[style] {
      font-size: @header-font-size !important;
    }
  }
  .header-right {
    th, td {
      text-align: center;
    }
    td, tr td {
      border-top: none;
    }
  }
  padding-top: 0;
  padding-bottom: 0;
}

// LOGO
// ------------------
.logo-image {
  img {
    width: 100%;
  }
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
