// ---------------------------------------------------------
// OFF CANVAS
// ---------------------------------------------------------
.off-canvas-toggle {
  background-color: @off-canvas-toggle-bg;
}

.off-canvas-toggle:hover,
.off-canvas-toggle:focus,
.off-canvas-toggle:active,
.off-canvas-toggle.active {
  color: @off-canvas-toggle-color;
  border-color: @off-canvas-toggle-border;
  background-color: @off-canvas-toggle-bg;
}

.t3-off-canvas {
  .close {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
    background: @off-canvas-close-bg;
  }
}

.t3-off-canvas-header {
  h2 {
    display: none;
    color: @off-canvas-default-color !important;
    line-height: 28px !important;
  }
  height: 28px !important;
  background: @off-canvas-default-bg !important;
}

.t3-off-canvas-body {
  padding: 12px 6px !important;
}
